html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-container {
    border: 1px black;
    border-radius: 4px;
    max-width: 600px;
    background: white;
}

.form-group + .form-group {
    margin-top: 15px;
}
.line-around-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b5b5b5;
    line-height: 0.1em;
}

.line-around-text span {
    background: #fff;
    padding: 0 10px;
}